
$font-1: "Poppins", sans-serif;

$color-1: #d6c41b;
$color-2: #279ccab9;
$color-3: white;
$color-4: rgb(32, 35, 42);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 90%;
  max-width: 100%;
}
body {
  margin: 0.4rem auto;
  width: 120%;
  max-width: 100%;
  font-family: $font-1;
  color: $color-3;
  background-color: $color-4;

}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-3;
  cursor: pointer;
}
a:visited {
  color: $color-3;
}
